extends layout 

block content 
    .w3-card-4 
        header.w3-container.w3-teal
            h1 
                span Students List
                a.w3-btn.w3-round.w3-grey(href='/alunos/registo') +
                a.w3-btn.w3-round.w3-grey(href='/alunos') +
        .w3-container
            table.w3-table-all
                tr
                    th BookId
                    th Title
                    th Author
                    th Publish Date
                    th Price
                    th series
                    th rating
                    th description
                    th language
                    th isbn
                    th genres
                    th characters
                    th bookFormat
                    th edition
                    th pages
                    th publisher
                    th firstPublishDate
                    th awards
                    th numRatings
                    th ratingsByStars
                    th likedPercent
                    th setting
                    th coverImg
                    th bbeScore
                    th bbeVotes         
                
                each livro in livros
                        tr
                            td= livro.bookId
                            td= livro.title 
                            td= livro.author
                            td= livro.pubishDate
                            td= livro.price
                            td= livro.series
                            td= livro.rating
                            td= livro.description
                            td= livro.language
                            td= livro.isbn
                            td= livro.genres
                            td= livro.characters
                            td= livro.bookFormat
                            td= livro.edition
                            td= livro.pages
                            td= livro.publisher
                            td= livro.firstPublishDate
                            td= livro.awards
                            td= livro.numRatings
                            td= livro.ratingsByStars
                            td= livro.likedPercent
                            td= livro.setting
                            td= 
                                img(src=livro.coverImg, alt=livro.title, style='width:100px;')
                            td= livro.bbeScore
                            td= livro.bbeVotes
    footer.w3-container.w3-blue 
        h5 Generated in #{date}
        a(href='/') Voltar
